.jumbotron {
    background-image: url(../images/logo.png);
    background-position: center;
    background-size: contain;
    font-family: "Roboto" sans-serif;
    margin-bottom: 0;
    height: 30vh;
    
}

.fakeimg {
    background-image: url(../images/rider.png);
    width: 100%;
    height: 50vh;
    background-size: contain;
    background-repeat: no-repeat;

}

.fakeimg2 {
    background-image: url(../images/rider\ w\ bike.png);
    width: 100%;
    height: 30vh;
    background-size: contain;
    background-repeat: no-repeat;
}

.fakeimg3 {
    background-image: url(../images/helm\ f.png);
    width: 100%;
    height: 30vh;
    background-size: contain;
    background-repeat: no-repeat;

}

.fakeimg4 {
    background-image: url(../images/helm\ r.png);
    width: 100%;
    height: 30vh;
    background-size: contain;
    background-repeat: no-repeat;

}

.fakeimg5 {
    background-image: url(../images/helm\ l.png);
    width: 100%;
    height: 30vh;
    background-size: contain;
    background-repeat: no-repeat;

}

.fakeimg6 {
    background-image: url(../images/helm\ b.png);
    width: 100%;
    height: 30vh;
    background-size: contain;
    background-repeat: no-repeat;

}

.fakeimg7 {
    background-image: url(../images/helm\ t.png);
    width: 100%;
    height: 30vh;
    background-size: contain;
    background-repeat: no-repeat;

}